<div class="card">
  <div class="card-header">
    <h5 class="card-title">Add new source to category {{ dataService.currentCategory.name }}:</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <form (submit)="addNewSource()">
          <div class="form-group">
            <input type="text" [(ngModel)]="newSourceUrl" name="newSourceUrl" class="form-control" id="newSourceUrl" placeholder="Enter new source url">
          </div>
          <button type="submit" class="btn btn-primary">Add source</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let source of sources" style="padding-top: 5px; padding-bottom: 5px" id="{{ source._id }}">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ source.url }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
