<div class="col-sm-12" style="hight: 100%;">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Data Options</h5>
    </div>
    <div class="card-body">
      <div class="btn-group" role="group" style="text-align:center; width: 100%;">
        <button type="button" (click)="exportDisplayedData()" class="btn btn-primary btn-sm" style="text-align:center; width: 100%;">Export displayed data</button>
        <button type="button" (click)="getExportedEntries()" class="btn btn-secondary btn-sm" style="text-align:center; width: 100%;">Show exported data</button>
        <button type="button" (click)="getNotExportedEntries()" class="btn btn-primary btn-sm" style="text-align:center; width: 100%;">Show not exported data</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div style="overflow: auto">
        <table class="table" id="data_table">
          <thead>
            <tr>
              <th scope="col">News Type</th>
              <th scope="col">title</th>
              <th scope="col">date</th>
              <th scope="col">author</th>
              <th scope="col">publisher</th>
              <th scope="col">abstract</th>
              <th scope="col">content</th>
              <th scope="col">url</th>
              <th scope="col">application_field</th>
              <th scope="col">application</th>
              <th scope="col">user</th>
              <th scope="col">industry_user</th>
              <th scope="col">geography_user</th>
              <th scope="col">function</th>
              <th scope="col">application</th>
              <th scope="col">technology</th>
              <th scope="col">maturity_level</th>
              <th scope="col">technology_provider</th>
              <th scope="col">industry_provider</th>
              <th scope="col">geography_provider</th>
              <th scope="col">ecosystem</th>
              <th scope="col">application_trend</th>
              <th scope="col">technology_trend</th>
              <th scope="col">ecosystem_trend</th>
              <th scope="col">picked by user</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of collected">
              <td>{{ entry?.news_type }}</td>
              <td>{{ entry?.title }}</td>
              <td>{{ entry?.date }}</td>
              <td>{{ entry?.author }}</td>
              <td>{{ entry?.publisher }}</td>
              <td>{{ entry?.abstract }}</td>
              <td>{{ entry?.content }}</td>
              <td>{{ entry?.url }}</td>
              <td>{{ entry?.application_field }}</td>
              <td>{{ entry?.application }}</td>
              <td>{{ entry?.user }}</td>
              <td>{{ entry?.industry_user }}</td>
              <td>{{ entry?.geography_user }}</td>
              <td>{{ entry?.function }}</td>
              <td>{{ entry?.application }}</td>
              <td>{{ entry?.technology }}</td>
              <td>{{ entry?.maturity_level }}</td>
              <td>{{ entry?.technology_provider }}</td>
              <td>{{ entry?.industry_provider }}</td>
              <td>{{ entry?.geography_provider }}</td>
              <td>{{ entry?.ecosystem }}</td>
              <td>{{ entry?.application_trend }}</td>
              <td>{{ entry?.technology_trend }}</td>
              <td>{{ entry?.ecosystem_trend }}</td>
              <td>{{ entry?.picked_by }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
