<div *ngFor="let category of categories" style="padding-top: 5px; padding-bottom: 5px" id="{{ category._id }}">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ category.name }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <p class="card-text">Created by: {{ category.creator }}</p>
          <button (click)="setAsCurrentCategory(category)" class="btn btn-primary">Set as current category</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Add new category:</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <form (submit)="addNewCategory()">
          <div class="form-group">
            <input type="text" [(ngModel)]="newCategoryTitle" name="newCategoryTitle" class="form-control" id="newCategoryTitle" placeholder="Enter new category">
          </div>
          <button type="submit" class="btn btn-primary">Add category</button>
        </form>
      </div>
    </div>
  </div>
</div>
