/* You can add global styles to this file, and also import other style files */

iframe {
  margin-top: 20px;
  margin-bottom: 30px;

  border: 2px red solid;

  border-style: solid;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-border-color: black;

  /*
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;

  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
  */
}

div.solidborder {
  border-style: solid;
}
