
<div class="row" style="padding-top: 5px; padding-bottom: 5px">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Current category</h5>
      </div>
      <div class="card-body">
        {{ this.dataService.currentCategory.name }}
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="hight: 100%;">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Options</h5>
      </div>
      <div class="card-body">
        <div class="btn-group" role="group" style="text-align:center; width: 100%;">
          <button type="button" (click)="fillFeedForCurrentCategory()" class="btn btn-primary btn-sm" style="text-align:center; width: 100%;">Show new entries</button>
          <button type="button" (click)="fillFeedForCurrentCategoryWithDismissedEntries()" class="btn btn-secondary btn-sm" style="text-align:center; width: 100%;">Show dismissed entries</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Stats</h5>
      </div>
      <div class="card-body">
        Number of {{ entry_adjective }} entries: {{ rss?.length }}
      </div>
    </div>
  </div>
</div>

<div *ngFor="let entry of rss" style="padding-top: 5px; padding-bottom: 5px" id="{{ entry._id }}">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ entry?.title }}</h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12">
              <p class="card-text">{{ entry?.description }}</p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12">
              <a href="{{ entry?.link }}" target="_blank">{{ entry?.link }}</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6" *ngIf="showsNewEnries">
              <button type="button" (click)="markAsDismissed(entry._id)" class="btn btn-secondary btn-sm" style="text-align:center; width: 100%;">Dismiss entry</button>
            </div>
            <div class="col-sm-6">
              <div style="text-align:block;">
                <button type="button" (click)="markAsRelevant(entry._id)" class="btn btn-success btn-sm" style="text-align:center; width: 100%;">Mark as relevant</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
