<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
<div>

<div *ngIf="usersToEnable">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Not enabled users:</h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="padding-top: 5px; padding-bottom: 5px">
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text">Name</p>
            </div>
            <div class="col-sm-2">
              <p class="card-text">Email</p>
            </div>
            <div class="col-sm-2">
              <p class="card-text">Username</p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"></p>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let user of notEnabledUsers" style="padding-top: 5px; padding-bottom: 5px" id="{{ user._id }}">
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text">{{ user.name }}</p>
            </div>
            <div class="col-sm-2">
              <p class="card-text">{{ user.email }}</p>
            </div>
            <div class="col-sm-2">
              <p class="card-text">{{ user.username }}</p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"><button type="button" (click)="enableUser(user._id)" class="btn btn-success btn-sm" style="text-align:center; width: 100%;">Authorize</button></p>
            </div>
            <div class="col-sm-2">
              <p class="card-text"><button type="button" (click)="deleteUser(user._id)" class="btn btn-danger btn-sm" style="text-align:center; width: 100%;">Delete</button></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
<div>
