<div class="jumbotron text-center">
  <h1>Test App</h1>
  <p class="lead">Welcome</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and...</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>...to generate components, services and more.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>do stuff</p>
  </div>
</div>
