<div id="bootstrap-overrides">
  <div class="row">
    <div class="col-md-2">
      <div *ngFor="let entry of rss" style="padding-top: 5px; padding-bottom: 5px" id="{{ entry._id }}">
        <div class="card">
          <div class="card-header"  (click)="setCurrentEntry(entry)">
            <h5 class="card-title">{{ entry.title }}</h5>
          </div>
          <button class="btn secondary btn-sm" (click)="markAsDismissed(entry._id)" type="button">
            Mark as dismissed
          </button>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <a class="btn btn-secondary btn-sm" id="mybutton" href="" target="_blank" role="button" style="text-align:center; width: 100%; padding-top: 5px; padding-bottom: 5px">Open link in new tab</a>
      <div class="embed-responsive embed-responsive-1by1">
        <div class="solidborder">
          <iframe id="myiframe" sandbox="allow-forms" class="embed-responsive-item" src=""></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div style="padding-top: 5px; padding-bottom: 5px">
        <div class="card">
          <div class="card-header">
            Fill form:
          </div>
          <div class="card-body">
            <form (submit)="submitCollectedEntry()">
              <div class="form-group form-control-sm">
                <label for="title" [hidden]="compactModeActivated">News Type</label>
                <input type="text" [(ngModel)]="news_type" name="news_type" class="form-control form-control-sm" id="news_type" placeholder="News Type">
              </div>
              <div class="form-group form-control-sm">
                <label for="title" [hidden]="compactModeActivated">Title</label>
                <input type="text" [(ngModel)]="title" name="title" class="form-control form-control-sm" id="title" placeholder="Title" required>
              </div>
              <div class="form-group form-control-sm">
                <label for="date" [hidden]="compactModeActivated">Date</label>
                <input type="date" [(ngModel)]="date" name="date" class="form-control form-control-sm" id="date" placeholder="DD.MM.YYYY" required>
              </div>
              <div class="form-group form-control-sm">
                <label for="author" [hidden]="compactModeActivated">Author</label>
                <input type="text" [(ngModel)]="author" name="author" class="form-control form-control-sm" id="author" placeholder="Author">
              </div>
              <div class="form-group form-control-sm">
                <label for="publisher" [hidden]="compactModeActivated">Publisher</label>
                <input type="text" [(ngModel)]="publisher" name="publisher" class="form-control form-control-sm" id="publisher" placeholder="Publisher">
              </div>
              <div class="form-group form-control-sm">
                <label for="abstract" [hidden]="compactModeActivated">Abstract</label>
                <textarea type="text" [(ngModel)]="abstract" name="abstract" class="form-control form-control-sm" id="abstract" placeholder="Abstract" rows="3"></textarea>
              </div>
              <div class="form-group form-control-sm">
                <label for="content" [hidden]="compactModeActivated">Content</label>
                <textarea type="text" [(ngModel)]="content" name="content" class="form-control form-control-sm" id="content" placeholder="Content" rows="3"></textarea>
              </div>
              <div class="form-group form-control-sm">
                <label for="url" [hidden]="compactModeActivated">URL</label>
                <input type="url" [(ngModel)]="url" name="url" class="form-control form-control-sm" id="url" placeholder="URL" required>
              </div>
              <div class="form-group form-control-sm">
                <label for="application_field" [hidden]="compactModeActivated">Application field</label>
                <input type="application_field" [(ngModel)]="application_field" name="application_field" class="form-control form-control-sm" id="application_field" placeholder="Application field">
              </div>
              <div class="form-group form-control-sm">
                <label for="application" [hidden]="compactModeActivated">Application</label>
                <input type="application" [(ngModel)]="form_application" name="form_application" class="form-control form-control-sm" id="application" placeholder="Application">
              </div>
              <div class="form-group form-control-sm">
                <label for="user" [hidden]="compactModeActivated">User</label>
                <input type="text" [(ngModel)]="user" name="user" class="form-control form-control-sm" id="user" placeholder="User">
              </div>
              <div class="form-group form-control-sm">
                <label for="industry_user" [hidden]="compactModeActivated">Industry (user)</label>
                <input type="text" [(ngModel)]="industry_user" name="industry_user" class="form-control form-control-sm" id="industry_user" placeholder="Industry (user)">
              </div>
              <div class="form-group form-control-sm">
                <label for="geography_user" [hidden]="compactModeActivated">Geography (user)</label>
                <input type="text" [(ngModel)]="geography_user" name="geography_user" class="form-control form-control-sm" id="geography_user" placeholder="Geography (user)">
              </div>
              <div class="form-group form-control-sm">
                <label for="function" [hidden]="compactModeActivated">Function</label>
                <input type="text" [(ngModel)]="function" name="function" class="form-control form-control-sm" id="function" placeholder="Function">
              </div>
              <div class="form-group form-control-sm">
                <label for="technology" [hidden]="compactModeActivated">Technology</label>
                <input type="text" [(ngModel)]="technology" name="technology" class="form-control form-control-sm" id="technology" placeholder="Technology">
              </div>
              <div class="form-group form-control-sm">
                <label for="maturity_level" [hidden]="compactModeActivated">Maturity Level</label>
                <input type="text" [(ngModel)]="maturity_level" name="maturity_level" class="form-control form-control-sm" id="maturity_level" placeholder="Maturity Level">
              </div>
              <div class="form-group form-control-sm">
                <label for="technology_provider" [hidden]="compactModeActivated">Technology provider</label>
                <input type="text" [(ngModel)]="technology_provider" name="technology_provider" class="form-control form-control-sm" id="technology_provider" placeholder="Technology provider">
              </div>
              <div class="form-group form-control-sm">
                <label for="industry_provider" [hidden]="compactModeActivated">Industry (provider)</label>
                <input type="text" [(ngModel)]="industry_provider" name="industry_provider" class="form-control form-control-sm" id="industry_provider" placeholder="Industry (provider)">
              </div>
              <div class="form-group form-control-sm">
                <label for="geography_provider" [hidden]="compactModeActivated">Geography (provider)</label>
                <input type="text" [(ngModel)]="geography_provider" name="geography_provider" class="form-control form-control-sm" id="geography_provider" placeholder="Geography (provider)">
              </div>
              <div class="form-group form-control-sm">
                <label for="ecosystem" [hidden]="compactModeActivated">Ecosystem</label>
                <input type="text" [(ngModel)]="ecosystem" name="ecosystem" class="form-control form-control-sm" id="ecosystem" placeholder="Ecosystem">
              </div>
              <div class="form-group form-control-sm">
                <label for="application_trend" [hidden]="compactModeActivated">Application trend</label>
                <input type="text" [(ngModel)]="application_trend" name="application_trend" class="form-control form-control-sm" id="application_trend" placeholder="Application trend">
              </div>
              <div class="form-group form-control-sm">
                <label for="technology_trend" [hidden]="compactModeActivated">Technology trend</label>
                <input type="text" [(ngModel)]="technology_trend" name="technology_trend" class="form-control form-control-sm" id="technology_trend" placeholder="Technology trend">
              </div>
              <div class="form-group form-control-sm">
                <label for="ecosystem_trend" [hidden]="compactModeActivated">Ecosystem Trend</label>
                <input type="text" [(ngModel)]="ecosystem_trend" name="ecosystem_trend" class="form-control form-control-sm" id="ecosystem_trend" placeholder="Ecosystem Trend">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="compactModeActivated" id="modeCheck">
              <label class="form-check-label" for="modeCheck">
                Compact mode
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
